@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
}


*, *::before, *::after{
    box-sizing:border-box;
    font-weight: normal;
}

body{
    padding:0;
    margin:0;
    background:linear-gradient(to right,#29E7CD,#B24C63);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(4,100px);    
}

.calculator-grid>button{
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid white;
    outline: none;
    background-color: whitesmoke;
}

.calculator-grid>button:hover{
    background-color:#B9BAA3; 
}

.span-two{
    grid-column: span 2;
    height: 4.4rem;
}

.output{
    grid-column: 1/-1;
    background-color:#235789;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break:break-all;
}

.output .previous-operand{
    color: #FDFFFC;
    font-size: 1.5rem;
}

.output .current-operand{
    color: #DCE1DE;
    font-size: 2rem;
}

.All-Clear{
    height: 6.25rem;
}